<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit a Trip</title>
</head>
<body>
    <h1>Hello {{ first_name }}! Let's edit your trip!</h1>
    <a href="/logout">Logout</a>
    {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/trips/edit_trip/{{ id }}" method="POST">
    {% csrf_token %}
        Destination: <input type="text" name="destination">
        Start Date: <input type="date" name="start_date">
        End Date: <input type="date" name="end_date">
        Plan: <input type="text" name="plan">
        <a href="/dashboard">Cancel</a>
        <input type="submit" value="Submit">
    </form>
</body>
</html>